### Build ###
/build/
/out/
/bin/
/target/
/lib/
/dist/
/nbbuild/
/nbdist/

### Gradle ###
.gradle/
/build/
/!gradle/wrapper/gradle-wrapper.jar
*.log
gradle-app.setting

### Project ###
/uploads/
.env
HELP.md
MANIFEST.MF
dependency-reduced-pom.xml
flattened-pom.xml
interpolated*.xml
overridedb.*
build.log

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### STS / Eclipse ###
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans/
.sts4-cache/

### NetBeans ###
/nbproject/private/
/.nb-gradle/

### VS Code ###
.vscode/

### System Files ###
.DS_Store
Thumbs.db
*~
*.swp
*.swo
.#*
.attach_pid*

### Jar & Secrets ###
*.jar
secrets.yml
dump.rdb
